<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <%- include('../partials/ProfileHeader') %>
   
    

  <div class="container mt-5 pt-5">
    <h1 class="mt-4">Search Results</h1>
    <div class=" mt-4 row ">
        <% blogs.forEach(blog => { %>
            
                
                <div class="card "  style="width: 18rem;">
                  <img src="<%= blog.blogImage %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= blog.title %></h5>
                    
                    <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Read</a>
                  </div>
                </div>
            
        <% }); %>
              </div>
    <a href="/auth/profile" class="btn btn-primary mt-4">Back to Profile-Page</a>
</div>

</body>
</html>